* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #015f83;
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    padding: 30px;
    background: #013a5e;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.container h3 {
    text-align: center;
    color: #ff4d4d;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-header {
    text-align: center;
    margin-bottom: 30px;
}

.form-header h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
}

.form-header p {
    font-size: 16px;
    color: #f1f1f1;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-box input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 0 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: #f4f4f4;
    color: #333;
    outline: none;
    transition: 0.3s;
}

.input-box input:focus {
    border-color: #ff4d4d;
    background: #fff;
}

.input-box input[type="submit"] {
    background: #4d7cff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.input-box input[type="submit"]:hover {
    background: #0c0658;
    transform: scale(1.05);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.nav-links a {
    color: #cceaf0;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}